<!DOCTYPE html>
<!--[if IE 7]>         <html class="ie7 lt-ie9 lt-ie8" lang="de"> <![endif]-->
<!--[if IE 8]>         <html class="ie8 lt-ie9" lang="de"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="de"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Lapixa{% endblock %}</title>
        <link href="{{ asset('components/normalize-css/normalize.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/webflow.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/lapixa-webflow.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Oswald:300,400,700"]
                }
            });
        </script>
        <script type="text/javascript" src="{{ asset('js/modernizr.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.ico') }}">
    </head>
    <body class="body">
        {% block body %}
            <div class="sec_navi w-section">
                <div class="w-container">
                    <div class="nav_bar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
                        <div class="w-container">
                            <a class="w-nav-brand" href="old-home.html"><img class="logo" src="{{ asset('images/bildschirmfoto_small.png') }}" width="150">
                                <div class="language">Deutsch | <strong>English</strong>
                                </div>
                            </a>
                            <nav class="w-nav-menu" role="navigation"><a class="navv w-nav-link" href="/create-user">Welcome, {{ app.user.username }}</a><a class="logout navv w-nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </nav>
                            <div class="w-nav-button">
                                <div class="w-icon-nav-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-section">
                <div class="c w-container">
                    <div class="w-row">
                        <div class="w-col w-col-3">
                            {% block left_side %}{% endblock %}
                        </div>
                        <div class="w-col w-col-9">
                            {% block page_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <script src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
